* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    position: relative;
}
.messenger-fixed {
    position: absolute;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10%;
    right: 4%;
    cursor: pointer;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: rgb(245, 229, 110);
}
.messenger-fixed span {
    font-size: 52px;
}
.container-header {
    display: flex;
    border: none;
}
.container-header .row-1 {
    width: 100vw;
    height: 46px;
    background-color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-header .row-1 {
    display: flex;
    justify-content: space-between
}
.col-1-mobile {
    display: none ;
}
.logo-mobile {
    margin-left: 5%;
    width: 50%;
    height: 90%;
}
.col-2-mobile {
    display: none;
}
.col-2-mobile span {
    margin: 12px;
    font-size: 28px;
}
.row-1 a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    margin: 0 12px;
}
.row-1 a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.container-header-row-1-col-2 {
    display: flex;
}
.container-header-row-1-col-2 div >a {
    text-transform: uppercase;
    padding:18px 8px;
}
.container-header-row-1-col-2 div >a:hover {
    background-color: #c1c1c1;
    color: #333;
}
.account {
    position: relative;
    line-height: 46px;
}
.account:hover .sub-account {
    display: block;
}
.sub-account {
    position: absolute;
    top: 46px;
    left: 11.79px;
    width: 231px;
    border: 2px solid black;
    display: none;
    background-color: #fff;
    z-index: 1;
}
.sub-account li {
    list-style-type: none;
}
.sub-account li a {
    font-size: 15px;
    color: #222;
    line-height: 32px;
}
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart span {
    margin-left: -12px;
    color: #fff;
}
.row-2 {
    width: 100%;
    height: 200pxs;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.row-2 .contact {
    display: flex;
}
.contact span {
    font-size: 36px;
    margin-right:18px;
    margin-top: 8px;
}
.contact p{
    color: #333;
    opacity: 0.9;
}
.contact p a {
    color: #333;
    text-decoration: none;
    line-height: 28px;
}
.logo {
    margin-top: 32px;
    width: 160px;
    height: 100px;
    cursor: pointer;
}
.search {
    width: 29%;
    position: relative;
}
.search input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    outline: none;
    padding: 16px 0 12px 0;
    font-size: 16px;
}
.search i {
    color: #414c5c;
    font-size: 16px;
    top: 16px;
    position: absolute;
    left: 92%;
    cursor: pointer;
}
.row-3 {
    width: 100%;
    margin-top: 16px;
    
}
.row-3 .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav li {
    list-style-type: none;
}
.row-3 a {
    text-decoration: none;
    font-size: 15px;
    color: #353535;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.9;
    padding-bottom: 5px;
        }
.row-3 a:hover {
    border-bottom: 2px solid #333333;
}
.row-3 span:hover {
    cursor: pointer;
}
.container {
    border-bottom: 1.5px solid #ccc;
}
.container-content {
    margin-top: 8px;
}
.bar p {
    font-size: 12px;
    color: #444;
}
.bar .product-type {
    color: #444;
    font-size: 15px;
    width :100%;
    margin-top: 12px;
}
.bar .product-detail {
    border: 1px solid #ccc;
    width: 100%;
}
.bar .product-detail-item {
    display: flex;
    align-items: center;
}
.product-detail-item input {
    width: 20px;
    height: 20px;
    margin: 8px;
}
.bar h3 {
    margin-bottom: 12px;
}
.product-detail-item p {
    font-size: 15px;
    color: #444;
}
.value {
    margin-left: 0;
}
.value span {
    margin-top: 4px;
}
.value p {
    margin: 0 6px;
}
.value input {
    padding: 8px 32px 8px 0;
    border: 1px solid #ccc;
    outline: none;
}
.delete-btn-and-apply {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}
.delete-btn-and-apply button {
    width: 45%;
    padding: 8px 0;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}
.delete-btn-and-apply .delete-btn {
    color: #000000;
    background-color: #fff;
    border: 2px solid #000000;
}
.delete-btn-and-apply .apply-btn {
    background-color: #000000;
    color: #fff;
}
.vote-icon {
    margin-left: -14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.vote-icon span {
    font-size: 22px;
    color: orange;
    margin: 0 -2px;
    margin-top: 20px;
}
.vote-icon p {
    margin-left: 4px;
    margin-top: 22px;
    font-size: 14px;
}
.vote-icon .no-vote {
    color: rgb(188, 179, 179);
}
.vote-icon button {
    text-align: center;
    margin-top: 12px;
    cursor: pointer;
    font-weight: 700;
    margin-left: 8px;
    padding: 0 0;
    text-transform: uppercase;
    background-color: #000000;
    color: #FFF;
}
.vote-icon button p {
    padding: 12px 12px;
    margin-top: 0;
    font-size: 13px;
    margin-left: 12px;
    color: #FFF;
    opacity: 0.9;
}
.decription {
     margin-top: 24px;
}
.decription p {
    font-size: 14px;
    color: #444444;
    letter-spacing: 0.8px;
    line-height: 1.6;
}
.decription a {
    text-decoration: none;
    font-size: 15px;
    color: #444444;
    font-weight: 700;
}
.product {
    margin-top: 32px;
    margin-left: 32px;
    padding-bottom: 1000px;
}
.product h2 {
    font-size: 18px;
    color: #444444;
}
.product .product-nav {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}
.product-nav li {
    list-style-type: none;
}
.product-nav a {
     text-decoration: none;
     font-size: 17px;
     color: #666666;
}
.product-nav a:hover {
    color: #111;
}
.product-nav .first-child {
    color: orange;
    border-bottom: 3px solid orange;
    padding-bottom: 7px;

}
.product-item img {
    cursor: pointer;
}
.product-item a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
.product-item span {
    color: orange;
    margin: 0 -4px;
}
.product-item .value p {
    color: #d80d0d;
    font-size: 16px;
    font-weight: 600;
    font-style: oblique;
    font-family: Georgia,serif;
}
.sub-product {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    justify-content: center;
    margin-top: 42px;
}
.sub-product .row {
    letter-spacing: 1px;
    color: #444444;
}
.sub-product .number-page {
    margin-top: 16px;
    margin-left: 10%;
}
.number-page a {
    color: #444444;
    text-decoration: none;
    margin: 4px;
}
.product-you-saw {
    border-bottom: 1px solid black;
}
 .product-you-saw-row-1{
    margin-top: 46px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.product-you-saw-row-1 p {
    font-size: 28px;
    color: #222222;
    padding-bottom: 16px;
    margin-bottom: 16px;
}
.product-you-saw-row-1 a {
    text-decoration: none;
    color: #222222;
    border-bottom: 1px solid #333;
}
.product-you-saw-row-2 img {
    width: 100%;
}
.product-you-saw-row-2 .title {
    font-size: 15px;
    color: #444444;
    margin: 12px 0;
    line-height: 17px;
    font-weight: 700;
    /* word-wrap: break-word; */
}
.money {
    display: flex;
    justify-content: space-between;
}
.money p {
    color: #d80d0d;
    font-size: 16px;
    font-family: Georgia,serif;
    font-style: oblique;
    font-weight: 700;
}
.money span {
    color: #989696;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-decoration: line-through;
}
.product-you-saw-row-3 {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding-bottom: 32px;
}
.product-you-saw-row-3 p {
    font-size: 14px;
    color: #000000;
    font-weight: 550;
}
.product-you-saw-row-3 input {
    padding: 8px;
    padding-right: 32px;
}
.product-you-saw-row-3 button {
    cursor: pointer;
    background-color: #000000;
    padding: 8px 18px;
    margin-left: -6px;
    color: #fff;
    text-transform: uppercase;
}
.product-you-saw-row-3 i {
    font-size: 26px;
    margin: 0 8px;
    color: #444;
}
.product-you-saw-row-3 i:hover {
    cursor: pointer;
    color: rgb(113, 113, 246);
}
.container-footer {
    margin-top: 32px;
}
.footer-row-1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 32px;
}
.footer-content h3 {
    margin-bottom: 20px;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    text-shadow: 0 0 0.8px #000000;
    font-weight: 0;
} 
.footer-row-1-col-infor {
    display: flex;
    flex-direction: column;
}
.footer-row-1-col-infor a {
    text-decoration: none;
    margin: 8px 0 ;
    font-size: 14px;
    color: #000000;

}
.footer-row-1-col-infor svg {
    margin: 22px 0;
    width: 85%;
}
.footer-row-1-col-infor .protected {
    width: 50%;
    margin-bottom: 16px;
}
.footer-row-1-col-infor h4 {
    margin: 12px 0;
    font-size: 14px;
    color: #000000;
    text-shadow: 0 0 1px #000000;
    text-transform: uppercase;
}
.app-download {
    display: flex;
    flex-wrap: wrap;
}
.app-download img {
    width: 40%;
}
.googleplay {
    margin-left: 8px;
}
.appgallery {
    margin-top: 8px;
}
.footer-row-1-col {
    display: flex;
    flex-wrap: wrap;
}
.footer-row-1-col .title {
    width: 30%;
    line-height: 1.4;
    font-size: 14px;
    color: #444444;
    font-weight: 700;
    text-shadow: 0 0 1px #444444;
}
.footer-row-1-col .infor {
    line-height: 1.4;
    margin-left: 8%;
    width: 60%;
    margin-bottom: 16px;
}
.footer-row-2-row-1 {
    width: 100%;
    margin: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 24px;
}
.footer-row-2-row-1-col-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.footer-row-2-row-1-col-1 p ,
.footer-row-2-row-1-col-1 a {
    letter-spacing: 0.8px;
    text-shadow: 0 0 0.5px #666666;
    text-transform: uppercase;
    font-size: 10px;
    color: #666666;
    text-decoration: none;
}
.footer-row-2-row-1-col-1-span {
    display: flex;
    align-items: center;
    border: 1px solid #666666;
    border-radius: 16px;
    padding: 0 8px;
}
.footer-row-2-row-1-col-1-span span {
    margin-right: 4px;
}
.footer-row-2-row-1-col-2 {
    width: 26%;
    display: flex;
    justify-content: space-between;
}
.footer-row-2-row-1-col-2 span {
    cursor: pointer;
    font-size: 46px;
}
.footer-row-2-row-2 {
     display: flex;
     justify-content: space-between;
 }
.footer-row-2-row-2 h4 {
    font-weight: 0;
    text-shadow: 0 0 1px;
}
.footer-row-2-row-2 h4:hover ,
.footer-row-2-row-2 a:hover {
    color: red;
}
.footer-container-a {
    margin: 8px 0;
}
.footer-container-a a {
    font-size: 13px;
    color: #000000;
    line-height: 1.2;
    letter-spacing:0.5px;
    text-decoration: none;
}
.lisence {
    width: 100vw;
}
.lesence  p {
    margin: 32px;
    text-align: center;
    font-size: 16px;
    color: #ccc;
}
@media (max-width :1249px) {
    .container-web {
        width: 96%;
        margin: 0 auto;
    }
    .product-you-saw-row-2 {
        display: flex;
        justify-content: space-between;
    }
    .footer-row-1 {
        display: flex;
        justify-content: space-between;
    }
    .footer-row-1-col-infor {
        margin-bottom: 60px;
    }
    .footer-row-2-row-2-col h4 {
        margin-top: 32px;
    }
}
@media (max-width:990px) {
    .container-web {
        width: 80%;
        
    }
    .container-header-row-1-col-1,
    .container-header-row-1-col-2,
    .container-header .row-2 ,
    .container-header .row-3 {
        display: none;
    }
    .container-header .row-1 .col-1-mobile ,
    .container-header .row-1 .col-2-mobile {
        display: flex;
    }
    .container-header .row-1 {
        background-color: #fff;
    }
    .container-content .bar {
        display: none;
    }
    .product {
        padding-bottom: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .product-item {
        width: 50%;
   }
    .product .product-nav {
        width: 100%;
    }
    .footer-row-2-row-1 {
        width: 100%;
    }
    .footer-row-2-row-1-col-2 {
        width: 40%;
    }
}
@media (max-width:740px) {
    .container-web {
        overflow: hidden;
        width: 98%;
        margin: 0 auto;
    }
    .product-nav li {
        width: 33.33333%;
        display: flex;
        justify-content: center;
    }
    .product-nav li a {
        text-align: center;
        line-height: 24px;
    }
    .product-item-container {
        display: flex;
        flex-wrap: wrap;
    }
    .product-item {
         width: 50%;
    }
    .sub-product  {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .product-you-saw-row-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product-you-saw-row-3 p ,
    .product-you-saw-row-3 .input-email,
    .product-you-saw-row-3 .social-icon {
        margin: 8px 0;
    }
    .footer-row-1 {
        display: block;
    }
    .col.l-3.m-5.c-4.c-o-1 {
        float: left;
        margin-left: 5%;
        margin: 0 32px;
    }
    .footer-row-2-row-1 {
        display: flex;
        flex-direction: column;
    }
    .footer-row-2-row-2 {
        display: block;
        margin-left: 10%;
    }
    .footer-row-2-row-2-col {
        width: 40%;
        float: left;
        /* padding-left: 9%; */
        margin: 0 5% ;
    }
}